{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "hello@biza.io",
      "name": "Biza.io",
      "url": "https://biza.io/"
    },
    "description": "This specification mirrors the definitions of the Australian Consumer Data Standards and is intended to deliver the Standards in OpenAPI 3 format with additional data specifications.\nThe source for this Redocs is available at [https://github.com/bizaio/dsb-standards](https://github.com/bizaio/dsb-standards).\nA downgraded Swagger 2 version of this document can be [downloaded here](http://bizaio.github.io/dsb-standards/swagger2.json).\n",
    "license": {
      "name": "GPL 3.0",
      "url": "https://opensource.org/licenses/GPL-3.0"
    },
    "title": "Consumer Data Standards (Biza.io Edition)",
    "version": "1.5.0"
  },
  "host": "data.holder.com.au",
  "basePath": "/cds-au/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/admin/metrics": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "ALL",
            "description": "The period of metrics to be requested. Values can be CURRENT (meaning metrics for current day), HISTORIC (meaning metrics for previous days or months) or ALL. If absent the default is ALL.",
            "enum": [
              "CURRENT",
              "HISTORIC",
              "ALL"
            ],
            "in": "query",
            "name": "period",
            "required": false,
            "type": "string"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "RegisterAuth": []
          }
        ],
        "tags": [
          "Admin",
          "Metrics"
        ],
        "description": "This end point allows the ACCC to obtain operational statistics from the Data Holder on the operation of their CDR compliant implementation. The statistics obtainable from this end point are determined by the non-functional requirements for the CDR regime.",
        "operationId": "getMetrics",
        "summary": "Get Metrics",
        "x-version": "1"
      }
    },
    "/admin/register/metadata": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "Register triggered action to perform",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "action": {
                  "default": "REFRESH",
                  "description": "The action to take for the meta data. At the moment the only option is REFRESH which requires the data holder to call the ACCC to refresh meta data as soon as practicable",
                  "enum": [
                    "REFRESH"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "action"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "RegisterAuth": []
          }
        ],
        "tags": [
          "Admin",
          "Register"
        ],
        "description": "Indicate that a critical update to the metadata for Accredited Data Recipients has been made and should be obtained",
        "operationId": "metadataUpdate",
        "summary": "Metadata Update",
        "x-version": "1"
      }
    },
    "/banking/accounts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "enum": [
              "TRANS_AND_SAVINGS_ACCOUNTS",
              "TERM_DEPOSITS",
              "TRAVEL_CARDS",
              "REGULATED_TRUST_ACCOUNTS",
              "RESIDENTIAL_MORTGAGES",
              "CRED_AND_CHRG_CARDS",
              "PERS_LOANS",
              "MARGIN_LOANS",
              "LEASES",
              "TRADE_FINANCE",
              "OVERDRAFTS",
              "BUSINESS_LOANS"
            ],
            "in": "query",
            "name": "product-category",
            "required": false,
            "type": "string"
          },
          {
            "default": "ALL",
            "description": "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
            "enum": [
              "OPEN",
              "CLOSED",
              "ALL"
            ],
            "in": "query",
            "name": "open-status",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts",
            "in": "query",
            "name": "is-owned",
            "required": false,
            "type": "boolean",
            "x-cds-type": "Boolean"
          },
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "tags": [
          "Accounts",
          "Banking"
        ],
        "description": "Obtain a list of accounts",
        "operationId": "listAccounts",
        "summary": "Get Accounts",
        "x-version": "1"
      }
    },
    "/banking/accounts/balances": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "enum": [
              "TRANS_AND_SAVINGS_ACCOUNTS",
              "TERM_DEPOSITS",
              "TRAVEL_CARDS",
              "REGULATED_TRUST_ACCOUNTS",
              "RESIDENTIAL_MORTGAGES",
              "CRED_AND_CHRG_CARDS",
              "PERS_LOANS",
              "MARGIN_LOANS",
              "LEASES",
              "TRADE_FINANCE",
              "OVERDRAFTS",
              "BUSINESS_LOANS"
            ],
            "in": "query",
            "name": "product-category",
            "required": false,
            "type": "string"
          },
          {
            "default": "ALL",
            "description": "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
            "enum": [
              "OPEN",
              "CLOSED",
              "ALL"
            ],
            "in": "query",
            "name": "open-status",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts",
            "in": "query",
            "name": "is-owned",
            "required": false,
            "type": "boolean",
            "x-cds-type": "Boolean"
          },
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "tags": [
          "Balances",
          "Banking"
        ],
        "description": "Obtain balances for multiple, filtered accounts",
        "operationId": "listBalancesBulk",
        "summary": "Get Bulk Balances",
        "x-version": "1"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "List of Account Identifiers",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "accountIds": {
                  "items": {
                    "description": "Array of specific accountIds to obtain authorisations for",
                    "type": "string",
                    "x-cds-type": "ASCIIString"
                  },
                  "type": "array"
                }
              },
              "required": [
                "accountIds"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          },
          "422": {
            "description": "The request was well formed but was unable to be processed due to business logic specific to the request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ResponseErrorListV1"
            }
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "tags": [
          "Balances",
          "Banking"
        ],
        "description": "Obtain balances for a specified list of accounts",
        "operationId": "listBalancesSpecificAccounts",
        "summary": "Get Balances For Specific Accounts",
        "x-version": "1"
      }
    },
    "/banking/accounts/direct-debits": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "enum": [
              "TRANS_AND_SAVINGS_ACCOUNTS",
              "TERM_DEPOSITS",
              "TRAVEL_CARDS",
              "REGULATED_TRUST_ACCOUNTS",
              "RESIDENTIAL_MORTGAGES",
              "CRED_AND_CHRG_CARDS",
              "PERS_LOANS",
              "MARGIN_LOANS",
              "LEASES",
              "TRADE_FINANCE",
              "OVERDRAFTS",
              "BUSINESS_LOANS"
            ],
            "in": "query",
            "name": "product-category",
            "required": false,
            "type": "string"
          },
          {
            "default": "ALL",
            "description": "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
            "enum": [
              "OPEN",
              "CLOSED",
              "ALL"
            ],
            "in": "query",
            "name": "open-status",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts",
            "in": "query",
            "name": "is-owned",
            "required": false,
            "type": "boolean",
            "x-cds-type": "Boolean"
          },
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:regular_payments:read"
            ]
          }
        ],
        "tags": [
          "Banking",
          "Direct Debits"
        ],
        "description": "Obtain direct debit authorisations for multiple, filtered accounts",
        "operationId": "listDirectDebitsBulk",
        "summary": "Get Bulk Direct Debits",
        "x-version": "1"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          },
          {
            "description": "List of Account Identifiers",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "accountIds": {
                  "items": {
                    "description": "Array of specific accountIds to obtain authorisations for",
                    "type": "string",
                    "x-cds-type": "ASCIIString"
                  },
                  "type": "array"
                }
              },
              "required": [
                "accountIds"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          },
          "422": {
            "description": "The request was well formed but was unable to be processed due to business logic specific to the request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ResponseErrorListV1"
            }
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:regular_payments:read"
            ]
          }
        ],
        "tags": [
          "Banking",
          "Direct Debits"
        ],
        "description": "Obtain direct debit authorisations for a specified list of accounts",
        "operationId": "listDirectDebitsSpecificAccounts",
        "summary": "Get Direct Debits For Specific Accounts",
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the account to get scheduled payments for. Must have previously been returned by one of the account list end points. The account specified is the source account for the payment",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "x-cds-type": "ASCIIString"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.detail:read"
            ]
          }
        ],
        "tags": [
          "Accounts",
          "Banking"
        ],
        "description": "Obtain detailed information on a single account",
        "operationId": "getAccountDetail",
        "summary": "Get Account Detail",
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/balance": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the account to get scheduled payments for. Must have previously been returned by one of the account list end points. The account specified is the source account for the payment",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "x-cds-type": "ASCIIString"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "tags": [
          "Balances",
          "Banking"
        ],
        "description": "Obtain the balance for a single specified account",
        "operationId": "getBalance",
        "summary": "Get Account Balance",
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/direct-debits": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the account to get scheduled payments for. Must have previously been returned by one of the account list end points. The account specified is the source account for the payment",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "x-cds-type": "ASCIIString"
          },
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:regular_payments:read"
            ]
          }
        ],
        "tags": [
          "Banking",
          "Direct Debits"
        ],
        "description": "Obtain direct debit authorisations for a specific account",
        "operationId": "listDirectDebits",
        "summary": "Get Direct Debits For Account",
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/payments/scheduled": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the account to get scheduled payments for. Must have previously been returned by one of the account list end points. The account specified is the source account for the payment",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "x-cds-type": "ASCIIString"
          },
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:regular_payments:read"
            ]
          }
        ],
        "tags": [
          "Banking",
          "Scheduled Payments"
        ],
        "description": "Obtain scheduled, outgoing payments for a specific account",
        "operationId": "listScheduledPayments",
        "summary": "Get Scheduled Payments for Account",
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/transactions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the account to get scheduled payments for. Must have previously been returned by one of the account list end points. The account specified is the source account for the payment",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "x-cds-type": "ASCIIString"
          },
          {
            "description": "Constrain the transaction history request to transactions with effective time at or after this date/time. If absent defaults to newest-time minus 90 days.  Format is aligned to DateTimeString common type",
            "format": "date-time",
            "in": "query",
            "name": "oldest-time",
            "required": false,
            "type": "string"
          },
          {
            "description": "Constrain the transaction history request to transactions with effective time at or before this date/time.  If absent defaults to today.  Format is aligned to DateTimeString common type",
            "format": "date-time",
            "in": "query",
            "name": "newest-time",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter transactions to only transactions with amounts higher or equal to than this amount",
            "in": "query",
            "name": "min-amount",
            "required": false,
            "type": "string",
            "x-cds-type": "AmountString"
          },
          {
            "description": "Filter transactions to only transactions with amounts less than or equal to than this amount",
            "in": "query",
            "name": "max-amount",
            "required": false,
            "type": "string",
            "x-cds-type": "AmountString"
          },
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:transactions:read"
            ]
          }
        ],
        "tags": [
          "Banking",
          "Transactions"
        ],
        "description": "Obtain transactions for a specific account.\n\nSome general notes that apply to all end points that retrieve transactions:\n\n- Where multiple transactions are returned, transactions should be ordered according to effective date in descending order\n- As the date and time for a transaction can alter depending on status and transaction type two separate date/times are included in the payload. There are still some scenarios where neither of these time stamps is available. For the purpose of filtering and ordering it is expected that the data holder will use the “effective” date/time which will be defined as:\n\t\t- Posted date/time if available, then\n\t\t- Execution date/time if available, then\n\t\t- A reasonable date/time nominated by the data holder using internal data structures\n- For transaction amounts it should be assumed that a negative value indicates a reduction of the available balance on the account while a positive value indicates an increase in the available balance on the account\n- For aggregated transactions (ie. groups of sub transactions reported as a single entry for the account) only the aggregated information, with as much consistent information accross the subsidiary transactions as possible, is required to be shared",
        "operationId": "getTransactions",
        "summary": "Get Transactions For Account",
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/transactions/{transactionId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the account to get scheduled payments for. Must have previously been returned by one of the account list end points. The account specified is the source account for the payment",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "x-cds-type": "ASCIIString"
          },
          {
            "description": "ID of the transaction obtained from a previous call to one of the other transaction end points",
            "in": "path",
            "name": "transactionId",
            "required": true,
            "type": "string",
            "x-cds-type": "ASCIIString"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:transactions:read"
            ]
          }
        ],
        "tags": [
          "Banking",
          "Transactions"
        ],
        "description": "Obtain detailed information on a transaction for a specific account",
        "operationId": "getTransactionDetail",
        "summary": "Get Transaction Detail",
        "x-version": "1"
      }
    },
    "/banking/payees": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "ALL",
            "description": "Filter on the payee type field.  In addition to normal type field values, ALL can be specified to retrieve all payees.  If absent the assumed value is ALL",
            "enum": [
              "DOMESTIC",
              "INTERNATIONAL",
              "BILLER",
              "ALL"
            ],
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:payees:read"
            ]
          }
        ],
        "tags": [
          "Banking",
          "Payees"
        ],
        "description": "Obtain a list of pre-registered payees",
        "operationId": "listPayees",
        "summary": "Get Payees",
        "x-version": "1"
      }
    },
    "/banking/payees/{payeeId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID used to locate the details of a particular payee",
            "in": "path",
            "name": "payeeId",
            "required": true,
            "type": "string",
            "x-cds-type": "ASCIIString"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:payees:read"
            ]
          }
        ],
        "tags": [
          "Banking",
          "Payees"
        ],
        "description": "Obtain detailed information on a single payee. Note that the payee sub-structure should be selected to represent the payment destination only rather than any known characteristics of the payment recipient",
        "operationId": "getPayeeDetail",
        "summary": "Get Payee Detail",
        "x-version": "1"
      }
    },
    "/banking/payments/scheduled": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "enum": [
              "TRANS_AND_SAVINGS_ACCOUNTS",
              "TERM_DEPOSITS",
              "TRAVEL_CARDS",
              "REGULATED_TRUST_ACCOUNTS",
              "RESIDENTIAL_MORTGAGES",
              "CRED_AND_CHRG_CARDS",
              "PERS_LOANS",
              "MARGIN_LOANS",
              "LEASES",
              "TRADE_FINANCE",
              "OVERDRAFTS",
              "BUSINESS_LOANS"
            ],
            "in": "query",
            "name": "product-category",
            "required": false,
            "type": "string"
          },
          {
            "default": "ALL",
            "description": "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
            "enum": [
              "OPEN",
              "CLOSED",
              "ALL"
            ],
            "in": "query",
            "name": "open-status",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts",
            "in": "query",
            "name": "is-owned",
            "required": false,
            "type": "boolean",
            "x-cds-type": "Boolean"
          },
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:regular_payments:read"
            ]
          }
        ],
        "tags": [
          "Banking",
          "Scheduled Payments"
        ],
        "description": "Obtain scheduled payments for multiple, filtered accounts that are the source of funds for the payments",
        "operationId": "listScheduledPaymentsBulk",
        "summary": "Get Scheduled Payments Bulk",
        "x-version": "1"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          },
          {
            "description": "List of Account Identifiers",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "accountIds": {
                  "items": {
                    "description": "Array of specific accountIds to obtain authorisations for",
                    "type": "string",
                    "x-cds-type": "ASCIIString"
                  },
                  "type": "array"
                }
              },
              "required": [
                "accountIds"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          },
          "422": {
            "description": "The request was well formed but was unable to be processed due to business logic specific to the request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ResponseErrorListV1"
            }
          }
        },
        "security": [
          {
            "CDRAuth": [
              "bank:regular_payments:read"
            ]
          }
        ],
        "tags": [
          "Banking",
          "Scheduled Payments"
        ],
        "description": "Obtain scheduled payments for a specified list of accounts",
        "operationId": "listScheduledPaymentsSpecificAccounts",
        "summary": "Get Scheduled Payments For Specific Accounts",
        "x-version": "1"
      }
    },
    "/banking/products": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "CURRENT",
            "description": "Allows for the filtering of products based on whether the current time is within the period of time defined as effective by the effectiveFrom and effectiveTo fields. Valid values are ‘CURRENT’, ‘FUTURE’ and ‘ALL’. If absent defaults to 'CURRENT'",
            "enum": [
              "CURRENT",
              "FUTURE",
              "ALL"
            ],
            "in": "query",
            "name": "effective",
            "required": false,
            "type": "string"
          },
          {
            "description": "Only include products that have been updated after the specified date and time. If absent defaults to include all products",
            "format": "date-time",
            "in": "query",
            "name": "updated-since",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter results based on a specific brand",
            "in": "query",
            "name": "brand",
            "required": false,
            "type": "string"
          },
          {
            "description": "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "enum": [
              "TRANS_AND_SAVINGS_ACCOUNTS",
              "TERM_DEPOSITS",
              "TRAVEL_CARDS",
              "REGULATED_TRUST_ACCOUNTS",
              "RESIDENTIAL_MORTGAGES",
              "CRED_AND_CHRG_CARDS",
              "PERS_LOANS",
              "MARGIN_LOANS",
              "LEASES",
              "TRADE_FINANCE",
              "OVERDRAFTS",
              "BUSINESS_LOANS"
            ],
            "in": "query",
            "name": "product-category",
            "required": false,
            "type": "string"
          },
          {
            "default": 1,
            "description": "Page of results to request (standard pagination)",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "default": 25,
            "description": "Page size to request. Default is 25 (standard pagination)",
            "in": "query",
            "name": "page-size",
            "required": false,
            "type": "integer",
            "x-cds-type": "PositiveInteger"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [],
        "tags": [
          "Banking",
          "Products"
        ],
        "description": "Obtain a list of products that are currently openly offered to the market\n\nNote that the results returned by this end point are expected to be ordered in descending order according to `lastUpdated`\n\n### Conventions\nIn the product reference payloads there are a number of recurring conventions that are explained here, in one place.\n\n#### Arrays Of Features\n\nIn the product detail payload there are a number of arrays articulating generic features, constraints, prices, etc. The intent of these arrays is as follows:\n\n- Each element in an array has the same structure so that clients can reliably interpret the payloads\n- Each element as a type element that is an enumeration of the specific aspect of a product being described, such as types of fees.\n- Each element has a field name [additionalValue](#productfeaturetypedoc).  This is a generic field with contents that will vary based on the type of object being described. The contents of this field for the ADDITIONAL_CARDS feature is the number of cards allowed while the contents of this field for the MAX_LIMIT constraint would be the maximum credit limit allowed for the product.\n- An element in these arrays of the same type may appear more than once. For instance, a product may offer two separate loyalty programs that the customer can select from. A fixed term mortgage may have different rates for different term lengths.\n- An element in these arrays may contain an additionalInfo and additionalInfoUri field. The additionalInfo field is used to provide displayable text clarifying the purpose of the element in some way when the product is presented to a customer. The additionalInfoUri provides a link to externally hosted information specifically relevant to that feature of the product.\n- Depending on the type of data being represented there may be additional specific fields.\n\n#### URIs To More Information\n\nAs the complexities and nuances of a financial product can not easily be fully expressed in a data structure without a high degree of complexity it is necessary to provide additional reference information that a potential customer can access so that they are fully informed of the features and implications of the product. The payloads for product reference therefore contain numerous fields that are provided to allow the product holder to describe the product more fully using a web page hosted on their online channels.\n\nThese URIs do not need to all link to different pages. If desired, they can all link to a single hosted page and use difference HTML anchors to focus on a specific topic such as eligibility or fees.\n\n#### Linkage To Accounts\nFrom the moment that a customer applies for a product and an account is created the account and the product that spawned it will diverge.  Rates and features of the product may change and a discount may be negotiated for the account.\n\nFor this reason, while productCategory is a common field between accounts and products, there is no specific ID that can be used to link an account to a product within the regime.\n\nSimilarly, many of the fields and objects in the product payload will appear in the account detail payload but the structures and semantics are not identical as one refers to a product that can potentially be originated and one refers to an account that actual has been instantiated and created along with the associated decisions inherent in that process.\n\n#### Dates\nIt is expected that data consumers needing this data will call relatively frequently to ensure the data they have is representative of the current offering from a bank.  To minimise the volume and frequency of these calls the ability to set a lastUpdated field with the date and time of the last update to this product is included.  A call for a list of products can then be filtered to only return products that have been updated since the last time that data was obtained using the updated-since query parameter.\n\nIn addition, the concept of effective date and time has also been included.  This allows for a product to be marked for obsolescence, or introduction, from a certain time without the need for an update to show that a product has been changed.  The inclusion of these dates also removes the need to represent deleted products in the payload.  Products that are no long offered can be marked not effective for a few weeks before they are then removed from the product set as an option entirely.\n\nNOTE: This version must be implemented by **February 2021**",
        "operationId": "listProducts",
        "summary": "Get Products",
        "x-version": "3"
      }
    },
    "/banking/products/{productId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the specific product requested",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string",
            "x-cds-type": "ASCIIString"
          },
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [],
        "tags": [
          "Banking",
          "Products"
        ],
        "description": "Obtain detailed information on a single product offered openly to the market.\nNOTE: This version must be implemented by **February 2021**",
        "operationId": "getProductDetail",
        "summary": "Get Product Detail",
        "x-version": "3"
      }
    },
    "/common/customer": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "in": "header",
            "name": "x-cds-client-headers",
            "required": false,
            "type": "string",
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "type": "string"
              },
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "type": "string"
              }
            },
            "schema": {}
          }
        },
        "security": [
          {
            "CDRAuth": [
              "common:customer.basic:read"
            ]
          }
        ],
        "tags": [
          "Common",
          "Customer"
        ],
        "description": "Obtain basic information on the customer that has authorised the current session",
        "operationId": "getCustomer",
        "summary": "Get Customer",
        "x-version": "1"
      }
    },
    "/common/customer/detail": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Version of the API end point requested by the client. Must be set to a positive integer.",
            "in": "header",
            "name": "x-v",
            "required": true,
            "type": "string"
          },
          {
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided.",
            "in": "header",
            "name": "x-min-v",
            "required": false,
            "type": "string"
          },
          {
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "format": "uuid",
            "in": "header",
            "name": "x-fapi-interaction-id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-auth-date",
            "required": false,
            "type": "string"
          },
          {
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "in": "header",
            "name": "x-fapi-customer-ip-address",
            "required": false,
            "type": "string"
          },
          {
[...]
