info:
  contact:
    email: hello@biza.io
    name: Biza.io
    url: 'https://biza.io/'
  description: >
    This specification mirrors the definitions of the Australian Consumer Data Standards and is intended to deliver the Standards in OpenAPI 3 format with additional data specifications.

    The source for this Redocs is available at [https://github.com/bizaio/dsb-standards](https://github.com/bizaio/dsb-standards).

    A downgraded Swagger 2 version of this document can be [downloaded here](http://bizaio.github.io/dsb-standards/swagger2.json).
  license:
    name: GPL 3.0
    url: 'https://opensource.org/licenses/GPL-3.0'
  title: Consumer Data Standards (Biza.io Edition)
  version: 1.5.0
openapi: 3.0.0
paths:
  /banking/accounts:
    $ref: paths/banking@accounts.yaml
  /banking/accounts/balances:
    $ref: paths/banking@accounts@balances.yaml
  /banking/accounts/direct-debits:
    $ref: paths/banking@accounts@direct-debits.yaml
  '/banking/accounts/{accountId}':
    $ref: paths/banking@accounts@{accountId}.yaml
  '/banking/accounts/{accountId}/balance':
    $ref: paths/banking@accounts@{accountId}@balance.yaml
  '/banking/accounts/{accountId}/direct-debits':
    $ref: paths/banking@accounts@{accountId}@direct-debits.yaml
  '/banking/accounts/{accountId}/payments/scheduled':
    $ref: paths/banking@accounts@{accountId}@payments@scheduled.yaml
  '/banking/accounts/{accountId}/transactions':
    $ref: paths/banking@accounts@{accountId}@transactions.yaml
  '/banking/accounts/{accountId}/transactions/{transactionId}':
    $ref: paths/banking@accounts@{accountId}@transactions@{transactionId}.yaml
  /banking/payees:
    $ref: paths/banking@payees.yaml
  '/banking/payees/{payeeId}':
    $ref: paths/banking@payees@{payeeId}.yaml
  /banking/payments/scheduled:
    $ref: paths/banking@payments@scheduled.yaml
  /banking/products:
    $ref: paths/banking@products.yaml
  '/banking/products/{productId}':
    $ref: paths/banking@products@{productId}.yaml
  /common/customer:
    $ref: paths/common@customer.yaml
  /common/customer/detail:
    $ref: paths/common@customer@detail.yaml
  /discovery/outages:
    $ref: paths/discovery@outages.yaml
  /discovery/status:
    $ref: paths/discovery@status.yaml
  /admin/metrics:
    $ref: paths/admin@metrics.yaml
  /admin/register/metadata:
    $ref: paths/admin@register@metadata.yaml
tags:
  - name: Admin
    description: "Admin APIs"
  - name: Accounts
    description: "Accounts Related APIs"
  - name: Balances
    description: "Account Balance Related APIs"
  - name: Banking
    description: "Banking APIs"
  - name: Common
    description: "Common APIs"
  - name: Customer
    description: "Customer APIs"
  - name: Discovery
    description: "Discovery APIs"
  - name: Direct Debits
    description: "Direct Debits APIs"
  - name: Metrics
    description: "Metrics APIs"
  - name: Payees
    description: "Payee APIs"
  - name: Products
    description: "Products"
  - name: Register
    description: "Register APIs"
  - name: Scheduled Payments
    description: "Scheduled Payments APIs"
  - name: Transactions
    description: "Transactions APIs"
  - name: Schemas
    description:
      $ref: ./openapi-schemas.md
  - name: Enumerations
    description:
      $ref: ./openapi-enumerations.md
  - name: Responses
    description:
      $ref: ./openapi-responses.md
x-tagGroups:
  - name: "Banking APIs"
    tags: ["Accounts", "Balances", "Direct Debits", "Payees", "Products", "Scheduled Payments", "Transactions"]
  - name: "Common APIs"
    tags: ["Customer", "Discovery"]
  - name: "Admin APIs"
    tags: ["Register", "Metrics"]
  - name: "Models"
    tags: [ "Schemas", "Enumerations", "Responses" ]
components:
  securitySchemes:
    CDRAuth:
      $ref: ./components/securitySchemes/CDRAuth.yaml
    RegisterAuth:
      $ref: ./components/securitySchemes/RegisterAuth.yaml
servers:
  - url: 'https://data.holder.com.au/cds-au/v1'
